<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Geocaching Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
			<p>
				<a href="/test">Test API</a> | 
				<a href="/queries">Queries API</a> | 
			</p>
		<% } %>
		<p><a href="https://api.groundspeak.com/documentation">API Groundspeak documentation</a></p>
		<%- body %>
	</body>
</html>
